<!DOCTYPE html>
<html lang="en">
<head>
     <%- include('./partials/head.ejs') %>
     <title>HomePage</title>
     <link rel="stylesheet" href="/css/style.css">
</head>
<body>
     <%- include('./partials/nav.ejs') %>


     <%- include('./partials/script.ejs') %>
</body>
</html>