<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Generate Short URL</title>
     <link rel="stylesheet" href="/style.css">
     <style>
          body, html {
               background-color: white;
          }

          h2 {
               margin: 0;
          }
     </style>
</head>
<body>
     <h1>URL Shortner</h1>
     <div style="background-color: lightsalmon; padding: 1rem; margin: 0;">
          <% if (locals.msg) { %>
               <h2>Already exist in DB</h3>
          <% } %>

          <% if (locals.id && locals.link) { %>
               <span>
                    <p>
                         <h2 style="display: inline-block;">Id:</h2> 
                         <span><%= locals.id %></span>
                    </p>
                    <p>
                         <h2 style="display: inline-block;">Shortened URL: </h2> 
                         <span style="font-size: x-large;">
                              <a href="/url/<%= locals.id %>">Click Here </a>
                         </span>
                    </p>
               </span>
          <% } %>
     </div>

     <form method="post" action="/url" >
          <div>
               <label for="originalUrl">Original Url: </label>
               <input type="text" id="originalUrl" name="url" placeholder="Paste a URL" required>
               <button type="submit">Generate</button>
          </div>
     </form>
</body>
</html>