# ignore node_modules in specific folders
/Basics/node_modules/
/practise/node_modules/
/practise/.env
/self-practice/node_modules
/url_shortner/node_modules
/url_shortner/.env
/discord-bot/node_modules
/discord-bot/.env