a {
     font-weight: 600;
}

nav {
     background-color: oklch(86.5% 0.127 207.078);
}

nav > div > a {
     margin-left: 2rem;
     text-shadow: 0px 1px 1px rgb(0 0 0 / 0.2);
}

body {
     overflow: hidden;
}

#navbarNavDropdown {
     position: absolute;
     right: 5rem;
}

.nav-item {
     margin-left: 1rem;
     margin-right: 1rem;
}

.main-container {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     padding: 2rem;
}

.container {
     position: absolute;
     margin-top: 5rem;
     margin-left: 15%;
     background-color: oklch(92.8% 0.006 264.531);
     max-width: 72rem;
     padding: 2rem;
     border: 0.1rem solid oklch(37.2% 0.044 257.287);
     box-shadow: 0 3px 80px -30px oklch(12.9% 0.042 264.695);
     border-radius: 0.75rem;
}
#blogForm {
     top: 2.5rem;
     box-shadow: 0 3px 50px -30px oklch(12.9% 0.042 264.695);
}

.sutle-text {
     position: absolute;
     right: 2.5rem;
     color: oklch(37.2% 0.044 257.287);
     font-weight: 600;
}
#fullNameSutleText {
     position: relative;
     left: 90%;
     margin-bottom: 0;
}
#blog-subtle-text {
     position: relative;
     bottom: 0.65rem;
     right: 1rem;
     color: oklch(37.2% 0.044 257.287);
     font-weight: 700;
     font-size: x-large;
}
#blogBtn {
     position: relative;
     left: 93%;
}
#cardBtn {
     position: relative;
     left: 60%;
}

.header {
     position: relative;
     width: 100vw;
     z-index: 1;
}

.mainBody {
     width: 100vw;
     height: 100vh;
     position: relative;
     background-color: oklch(55.2% 0.016 285.938);
}