<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Homepage</title>
     <style>
          body {
               background-color: burlywood;
               width: 100vw;
               height: 100%;
               overflow: hidden;
          }
          form {
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: center;
          }
     </style>
</head>

<body>
     <form action="/profile" method="post" enctype="multipart/form-data">
          <div style="border-width: 2px; border-color: black; border: 1px; border-style: solid; width: fit-content; display: flex; flex-direction: column; justify-content: center; align-items: center;">
               <div style="padding: 1rem; width: fit-content;">
                    <input type="file" name="profilePic" id="profilePic">
               </div>
               <div style="padding: 1rem; width: fit-content;">
                    <button type="submit">Upload</button>
               </div>
          </div>
     </form>
</body>

</html>